<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/app/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>
<body onresize="resize()">
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#" style="margin-right: 50px">Outropy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="tabControl">
                <li class="nav-item active">
                    <a class="nav-link" id="events-tab" target="events" @click="tabchange">Events <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="calendar-tab" target="calendar" @click="tabchange">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="emergency-tab" target="emergency" @click="tabchange">Emergency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dependency-tab" target="dependency" @click="tabchange">Denpendency</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="tabpanel">
    <div id="events" class="container h-100" :hidden="events">
        <div class="row h-100">
            <projectcol></projectcol>
            <eventcol></eventcol>
        </div>
    </div>
    <div id="calendar" class="container-fluid" :hidden="calendar">
        2
    </div>
    <div id="emergency" class="container-fluid" :hidden="emergency">
        3
    </div>
    <div id="dependency" class="container-fluid" :hidden="dependency">
        4
    </div>
</div>
{% csrf_token %}
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="{% static 'js/app/events.js' %}"></script>
<script src="{% static 'js/app/home.js' %}"></script>

<script type="text/javascript">
function resize(){
$("#tabpanel").css('min-height', $(window).height()-$("#navbar").innerHeight());
$("#tabpanel").height($(window).height()-$("#navbar").innerHeight());
}
$(function(){
resize();
})
</script>

</body>
</html>